<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    

    <div *ngIf="!groups || groups?.length === 0 ">
        <h1 class="m-3"> Oops.. You have not created any groups </h1>
        <p>To manage your invite list you must have groups before ..</p>
        <button class="btn btn-primary" (click)="onMoveGroupPage()">Create a group now</button>
    </div>

    <div *ngIf="groups?.length > 0 ">
        <h1 class="m-3"> {{editMode ? 'Update guest details':'Add new Guest'}}</h1>
        <form *ngIf="guestForm" [formGroup]="guestForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-12 col-sm-6">
                    <label for="name"> Name:</label>
                    <input type="text" id="name" class="form-control text-center" formControlName="name">
                    <div *ngIf="!guestForm.get('name').valid && guestForm.get('name').touched">
                        <div class="errorMessage" *ngIf="guestForm.get('name').errors['required']"> Name is required
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label for="status"> Status:</label>
                    <select id="status" class="form-control text-center" formControlName="status">
                        <option value='Coming'> Coming </option>
                        <option value='Probably coming'> Probably coming </option>
                        <option value='Maybe coming'> Maybe coming </option>
                        <option value='Probably not coming'> Probably not coming </option>
                        <option value='Not coming'> Not coming </option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-8 col-lg-6 m-auto">
                    <label for="group"> Group:</label>
                    <select id="group" class="form-control text-center" formControlName="group">
                        <option class="text-center" [value]="group.name" *ngFor="let group of groups"> {{group.name}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-12 m-1" formArrayName="companions">

                    <button class="btn btn-outline-dark my-3" type="button" (click)="onAddGuestChildren()"> Add more
                        guest <i class="fas fa-plus"></i> </button>

                    <div class="row m-2" *ngFor="let companionsCtrl of companionsControls; let i = index"
                        [formGroupName]="i">

                        <div class="col-5 px-0">
                            <input type="text" class="form-control childrenInput" formControlName="name">
                            <div *ngIf="!guestForm.get('companions').controls[i].get('name').valid">
                                <div class="col-12"
                                    *ngIf="!guestForm.get('companions').controls[i].get('name').errors[required]">
                                    <span class="errorMessage">Name is required </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-5">
                            <select id="status" class="form-control text-center" formControlName="status">
                                <option value='Coming'> Coming </option>
                                <option value='Probably coming'> Probably coming </option>
                                <option value='Maybe coming'> Maybe coming </option>
                                <option value='Probably not coming'> Probably not coming </option>
                                <option value='Not coming'> Not coming </option>
                            </select>
                        </div>

                        <div class="col-2 px-0">
                            <button class="btn btn-danger" type="button" (click)="onDeleteGuestChildren(i)"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary m-2" [disabled]="!guestForm.valid"> {{editMode ? 'Save':'Add'}}
            </button>
            <button type="button" class="btn btn-secondary m-2" (click)="onClose()"> Close </button>
        </form>
    </div>

</div>