<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    
    <h1 class="m-3"> Guest details </h1>

    <div class="px-2">
        <div class="text-left m-4">
            <h5 > Main guest </h5>
            <hr class="m-0">
            {{guest.name}} - {{guest.status}}
        </div>

        <div class="text-left m-4" *ngIf="guest.companions.length > 0">
            <h5>Companies</h5>
            <hr class="m-0">
            <div *ngFor="let guest of guest.companions; let i = index">
                {{i+1}}. {{guest.name}} - {{guest.status}}
            </div>
        </div>

        <div class="text-left m-4">
            <h5>Group</h5>
            <hr class="m-0">
            <span class="font-weight-bold">{{guest.group}}</span> - {{getTotalGuestByGroup()}} ( including )<br>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="onClose()"> Close</button>
</div>